# =========================================
#      Общие правила для всего проекта
# =========================================

# Игнорировать логи
*.log

# Игнорировать виртуальные окружения Python
.venv/
venv/
/venv
/.venv

# Игнорировать кэш Python
__pycache__/

# =========================================
#      Правила для IDE (PyCharm, VSCode и др.)
# =========================================

# Игнорировать папки с настройками IDE
.idea/
.vscode/

# Игнорировать специфичные файлы IDE (из второго файла, но сгруппированы)
/shelf/
/workspace.xml
misc.xml
modules.xml
vcs.xml
*.iml
inspectionProfiles/

# Игнорировать тестовые логи
server/tests/logs/

# Игнорировать кэш синхронизации
server/dbSync/Logic_v2/cache/
server/dbSync/Logic_v2/cache/schema/
client/dbSync/Logic_v2/cache/
client/dbSync/Logic_v2/cache/schema/
