body,
.bg-theme-gradient {
    background: var(--global-palette9);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    height: 100%;
    color: #2E4461;
}

.main-screen-title {
    position: relative;
    z-index: 99;
    text-align: center;
    font-weight: bold;
    overflow-wrap: break-word;
    word-break: break-word;
    align-content: center;
    margin-left: 30px;
}

.custom-logo {
    height: 60px;
}

.container-fluid.navbar-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

#navbar {
    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
}

.user-information {
    overflow-wrap: break-word;
    word-break: break-word;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    font-size:18px;
    font-weight:bold;
}