.dropdown-item {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 225px;
    height: 35px;
    background: #FFFFFF; /* цвет фона */
    border-radius: 5px;
    color: #003172; /* Цвет текста */
    font-size: 14px;
    font-family: Arial;
    text-align: start;
    padding-top: 2px; /* Поля вокруг текста */
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.dropdown-menu-div {
    width: 230px;
    border-width: 2px;
    border-style: solid;
    border-color: #003172;
    border-radius: 5px;/**/
    padding: 0px;
}

.tableFixHead {
  overflow-y: auto;
  height: 200px;
}

.tableFixHead table {
  border-collapse: collapse;
  width: 100%;
}

.tableFixHead th,
.tableFixHead td {
  padding: 8px 16px;
}

.tableFixHead th {
  position: sticky;
  top: 57px;
  background: #fff;
}

.tableFixHead .fixed-table-body {
    overflow: visible!important;
}

.tableFixHead .th-inner {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: inherit;
}

.tableFixHead .fixed-table-toolbar {
  position: sticky;
  top: 0px;
  background: #fff;
  z-index: 999;
}

.tableFixHead .fixed-table-pagination {
  position: sticky;
  bottom: 0px;
  background: #fff;
}

