# Default ignored files
/shelf/
.idea/
/workspace.xml
misc.xml
modules.xml
vcs.xml
Vending_web.iml
workspace.xml
веб.iml
inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/веб.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_22_05_2025_6_46_[Changes]/web_vending.db
/.idea/shelf/Uncommitted_changes_before_Update_at_23_05_2025_7_09_[Changes]/web_vending.db
/.idea/shelf/Uncommitted_changes_before_Update_at_20_05_2025_6_36_[Changes]/web_vending.db
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_.xml
__pycache__/
/DB/Data/web_vending.db
/DB/Data/web_vending.db-shm
/DB/Data/web_vending.db-wal
/dbSync/Model/sync.db
/dbSync/Model/sync.db-shm
/dbSync/Model/sync.db-wal
command_queue.json
/dbSync/Logic_v2/cache/schema