table {
    border-collapse: collapse;
    margin-top: 20px;
}

input{
    width: 90%;
}
td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
input[type="text"] {
    width: 200px;
    padding: 5px;
}

.arrow-icon {
    position: absolute;
    right: 8px;
    cursor: pointer;
    font-size: 12px;
    color: #666;
    pointer-events: all;
}

#tool_description,
#group_description {
    width: 100%;
    padding: 10px;
    font-family: Arial;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* или 'none' чтобы запретить изменение размера */
}

.checkbox-option {
    margin: 20px;
}