/* Только для .custom-spinner-input */
.input_amount {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  background-color: #56b358;
  border: 1.5px solid #FFFFFF;
  color: #FFFFFF;
  width: 70px;
  height: 30px;
}

/* Стрелочки в WebKit-браузерах */
.input_amount::-webkit-inner-spin-button,
.input_amount::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button;
  display: block;
  width: auto;
  height: auto;
  color: #56b358;
  opacity: 1;
  background: transparent;
  border-radius: 5px;
}

/* Стрелочки в Firefox */
.input_amount {
  -moz-appearance: textfield;
}
.input_amount::-moz-number-spin-box {
  -moz-appearance: number-input;
  background: transparent;
}

.tool-row-block {
  height: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 5px;
}

.tool-name-block {
  display: flex;
  width: 100%;
  height: 30px;
  background-color: #D3D3D3A0;
  border: 1.5px solid #FFFFFF;
  border-radius: 5px;
  color: #003172;
  font-weight: bold;
  font-size: 14px;
  align-items: stretch;
  justify-content: start;
  margin: 1px;
  padding-left: 5px;
  overflow: hidden;
}

.tool-delete-button {
  width: 30px;
  height: 30px;
  margin-right: 1px;
  border: 1px solid #FFFFFF;
  background-color: #56b358;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.tool-delete-button-icon {
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.library-tool-div {
    display: flex;
    height: 32px;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    background-color: #D3D3D3A0;
    align-items: center;
}

.library-tool-name-div {
    display: flex;
    width: 100%;
    height: 30px;
    border: 1px solid #ffffff;
    color: #003172;
    font-weight: bold;
    font-size: 14px;
    align-items: stretch;
    justify-content: start;
    margin: 1px;
    overflow: hidden;
}