.droppable {
    border: 1px rgb(255, 255, 255);
    padding: 1px;
    margin: 1px;
    min-height: 50px;
    min-width: 44px;
    text-align: center;
    user-select: none;
}

.draggable {
  user-select: none;
}

.btn_vending {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(black, rgb(131,173,239) 1%, rgb(120,158,217) 97%, white), rgb(0,49,114);
  border-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: rgb(0,49,114);
  font-weight: bold;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 1;
  width: 225px;
  height: 35px;
  margin-top: 2px;
}

.btn_vending_active {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0,49,114);
  border-color: rgb(80, 130, 179);
  border-radius: 5px;
  color: rgb(199, 224, 249);
  font-weight: bold;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 1;
  width: 225px;
  height: 35px;
  margin-top: 2px;
}

.search-container {
      position: relative;
      width: 140px;
}

.search-input {
    width: 100%;
    height: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}

.suggestions {
    position: absolute;
    top: 35px;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    background: white;
    z-index: 1000;
    border-radius: 0 0 4px 4px;
    max-height: 150px;
    overflow-y: auto;
    display: none;
}

.suggestions div {
    padding: 5px;
    cursor: pointer;
}

.suggestions div:hover {
    background-color: #f0f0f0;
}

.history-tool-name,
.library-tool-name-div {
    display: flex;
    width: 100%;
    height: 30px;
    background-color: #D3D3D3A0;
    border: 1px solid #ffffff;
    color: #003172;
    font-weight: bold;
    font-size: 14px;
    align-items: stretch;
    justify-content: start;
    margin: 1px;
    overflow: hidden;
}

.library-tool-input-div {
    display: flex;
    width: 100%;
    height: 30px;
    background-color: #ffffffff;
    border: 1px solid #ffffff;
    color: #003172;
    font-weight: bold;
    font-size: 14px;
    align-items: stretch;
    justify-content: start;
    margin: 1px;
    overflow: hidden;
}

.library-tool-input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    color: #003172;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}

.library-tool-sum-div {
    display: flex;
    width: 35px;
    height: 30px;
    margin-right: 0px;
    border: 1px solid #FFFFFF;
    background-color: #56b358;
    align-items: center;
    justify-content: center;
}

.library-tool-button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.library-tool-div,
.library-tool-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    cursor: pointer;
    height: 32px;
    align-items: center;
}

.history-tool-cell {
    display: flex;
    width: 52px;
    height: 30px;
    margin-right: 1px;
    border: 1px solid #FFFFFF;
    background-color: #56b358;
    align-items: center;
    justify-content: center;
}

.history-tool-plan {
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 1px;
    border: 1px solid #FFFFFF;
    background-color: #56b358;
    align-items: center;
    justify-content: center;
}

.history-tool-plan-image {
    width: 20px;
    height: 20px;
    objectFit: contain; // Сохраняем пропорции
}

.tool-delete-button {
  width: 30px;
  height: 30px;
  margin-right: 1px;
  border: 1px solid #FFFFFF;
  background-color: #56b358;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool-delete-button-icon {
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.tool-hidden-buttons {
    display: none;
    flex-direction: row;
    z-index: 10;
    width: 100%;
}

.tool-confirm-delete-button {
    width: 50%;
    height: 30px;
    background-color: #FF5248;
    border: 2px solid #003172;
    color: #003172;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    margin: 1px;
}

.tool-confirm-cancel-button {
    width: 50%;
    height: 30px;
    background-color: #56b358;
    border: 2px solid #003172;
    color: #003172;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    margin: 1px;
}

